:root {
  --background: #f6f8ff;
  --text-primary: #2b3442;
  --text-secondary: #4b6a9b;
  --switch-primary: #4b6a9b;
  --btn-primary: #fff;
  --input-primary: #fff;
  --accent: #0079ff;
  --hover: #222731;
}

[data-theme="dark"] {
  --background: #141d2f;
  --text-primary: #fff;
  --text-secondary: #4b6a9b;
  --switch-primary: #fff;
  --input-primary: #1e2a47;
  --accent: #0079ff;
  --hover: #4b6a9b;
}

input[type="search"] {
  border: none;
  font-family: inherit;
  width: 100%;
  color: var(--text-primary);
  background-color: var(--input-primary);
  transition: 0.5s;
}

::placeholder {
  color: var(--text-primary);
  transition: 0.5s;
}

input:focus {
  outline: none;
}

body {
  background-color: var(--background);
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.app {
  background-color: var(--background);
  height: 100vh;
  margin: 0;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  transition: all 0.5s;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: var(--text-primary);
  transition: all 0.5s;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: var(--text-primary);
  transition: all 0.5s;
}

h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent);
}

h4 {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: var(--text-secondary);
  transition: all 0.5s;
}

button {
  border: none;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  color: var(--btn-primary);
}

.btn-primary {
  background-color: #0079ff;
}

.btn-primary:hover {
  background-color: #60abff;
}

.switch {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--switch-primary);
  transition: all 0.5s;
  gap: 10px;
}

.switch:hover {
  color: var(--hover);
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-jcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align-end {
  align-self: flex-end;
}

.mx {
  margin: 0px 10px 0px 10px;
}

.search-input {
  background-color: var(--input-primary);
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  transition: 0.5s;
}

.fgrow {
  flex-grow: 1;
}
